@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&family=Pinyon+Script&display=swap');
/* header */
/* --banner-- */
.italyBanner{
    position: relative;
    margin: 0 auto 4rem auto;
    background-image: url(../img/banners/italy-banner.jpg);
    background-position: center 80%;
    background-size: cover;
    height: 25rem;
    width: 100%;
}
.italyBannerContent{
    position: absolute;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.751) 0%, rgba(19, 19, 19, 0.551) 100%, rgba(0, 0, 0, 0.568) 100%);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 5rem;
}
.italyBannerContent p{
    margin: 0;
}
.italyBannerContent img{
    width: 5rem;
}
/* ---- */
.franceBanner{
    position: relative;
    margin: 0 auto 4rem auto;
    background-image: url(../img/banners/france-banner.jpg);
    background-position: center 80%;
    background-size: cover;
    height: 25rem;
    width: 100%;
}
.franceBannerContent{
    position: absolute;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.751) 0%, rgba(19, 19, 19, 0.551) 100%, rgba(0, 0, 0, 0.568) 100%);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 5rem;
}
.franceBannerContent p{
    margin: 0;
}
.franceBannerContent img{
    width: 5rem;
}
/* ------- */
.spainBanner{
    position: relative;
    margin: 0 auto 4rem auto;
    background-image: url(../img/banners/spain-banner.jpg);
    background-position: center 80%;
    background-size: cover;
    height: 25rem;
    width: 100%;
}
/* ------- */
.description1 article h2{
    font-family: 'Petit Formal Script', cursive;
    font-size: 2rem;
}
.recipeItalian{
    position: relative;
    width: 90%;
    margin: auto;
    height: 22rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid #c7a9a98a;
    border-radius: 30px;
    box-shadow: 0px 0px 8px 0px rgba(173, 167, 167, 0.404);
    margin-bottom: 3rem;
    border-left: 6px solid #CE7777;
}
.border-right-rcp{
    border-right: 6px solid #CE7777;
}
.recipeItalian .headding-type{
    position: absolute;
    width: 100%;
    height: 1.5rem;
    background-color: #CE7777;
    top: 0;
    transform: translateY(-10px);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 6px solid #CE7777;
}
.recipeItalian .headding-type p{
    margin: 0 0 0 1rem;
    color: whitesmoke;
    position: absolute;
    right: 0;
    margin-right: 1rem;
}
.recipeItalianS1{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.recipeItalianS1 img{
    width: 25rem;
    filter: drop-shadow(0px 5px 12px #CE7777);
}
.recipeFrenchS1 img{
    width: 18rem;
    filter: drop-shadow(0px 5px 12px #CE7777);
}
.recipeSpanishS1 img{
    width: 25rem;
    filter: drop-shadow(0px 5px 12px #CE7777);  
}
.recipeItalianS2{
    width: 50%;
    height: 100%;
    /* background-color: #E8C4C4; */
    
    padding: 0 2rem;
}
.recipeItalianS2 h2{
    margin: 2.9rem auto .5rem auto;
}
.recipeItalianS2 p{
    margin-bottom: 2rem;
    margin-top: 0;
}
.subdivision2{
    border: 1px solid #CE7777;
    left: 0;
    width: 15rem;
    margin: 0 0 1rem 0;
}
.viewMoreBtn2 {
    color: #CE7777;
    transition: .3s;
}
/* Se utiliza la pseudoclase :visited para modificar el estilo cuando el enlace ya ha sido visitado */
.viewMoreBtn2:visited {
    color: #ba3232;
    transition: .3s;
}
.viewMoreBtn2:hover {
    filter: brightness(1.135);
    transition: .3s;
}
