@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
/* Navbar */
.navbar{
    display: inline-flex;
    width: 100%;
    height: 4rem;
    padding: .5rem;
    background-color: #F2E5E5;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #c7a9a9;
    position: sticky;
    top: 0;
    z-index: 100;
}
.navSide1{
    display: inline-flex;
    align-items: center;
}
.logoNav{
    height: fit-content;
    width: 13rem;
    margin-left: 2rem;
}
.navSide1 a:nth-of-type(2){
    margin-left: 5rem;
}
.navLinks{
    text-decoration: none;
    color: #2B3A55;
    font-size: 1.2rem;
    margin-right: 2rem;
    transition: .2s;
}
.navLinks:hover{
    color: #212c41;
    transition: .2s;
}
.searchbox{
    display: inline-flex;
    align-items: center;
    background-color: #E8C4C4;
    height: 2.3rem;
    border-radius: 20px;
    padding: .1rem;
    margin-right: 3rem;
    border: 1px solid transparent;
    transition: .3s;
}
.searchbox:focus-within{
    border: 1px solid #c7a9a9;
    transition: .3s; 

}
.searchbox:hover{
    border: 1px solid #c7a9a9; 
    transition: .3s;
}
.searchBtn{
    border: none;
    background-color: transparent;
}
.searchBtn img{
    margin-top: .2rem;
}
.searchInput{
    border: none;
    background-color: transparent;
    outline: none;
}
/* header */
/* --banner-- */
.indexBanner{
    position: relative;
    margin: 0 auto 4rem auto;
    background-image: url(../img/banners/Hero-Index.jpg);
    background-position: center 80%;
    background-size: cover;
    height: 25rem;
    width: 100%;
}
.indexBannerContent{
    position: absolute;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.751) 0%, rgba(19, 19, 19, 0.551) 100%, rgba(0, 0, 0, 0.568) 100%);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.indexBannerContent img{
    width: 25rem;
}
.description1{
    text-align: center;
}
.description1 article{
    width: 53rem;
    margin: auto;
}
/* --Main-- */
.boxContainer{
    width: 100%;
    height: fit-content;
    display: inline-flex;
    margin-top: 3rem;
}
aside{
    width: 20%;
}
aside p{
    text-align: center;
    color: #a1a1a1;
}
aside img{
    width: 100%;
}
main{
    width: 80%;
}
.countryBanner1{
    width: 90%;
    margin: auto;
    height: 22rem;
    background-color: red;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}
.countryBannerS1{
    width: 50%;
    height: 100%;
    background-color: gray;
    background-image: url(../img/banners/kitchen-french.jpg);
    background-position: center 80%;
    background-size: cover;
}
.countryBannerS1_2{
    width: 50%;
    height: 100%;
    background-color: gray;
    background-image: url(../img/banners/kitchen-italian.webp);
    background-position: center 80%;
    background-size: cover;
}
.countryBannerS1_3{
    width: 50%;
    height: 100%;
    background-color: gray;
    background-image: url(../img/banners/kitchen-spanish.jpg);
    background-position: center 80%;
    background-size: cover;
}
.countryBannerS2{
    width: 50%;
    height: 100%;
    background-color: #E8C4C4;
    text-align: center;
    padding: 0 2rem;
}
.countryBannerS2 h2{
    margin: 2.9rem auto .5rem auto;
}
.countryBannerS2 p{
    margin-bottom: 2rem;
}
.subdivision{
    border: 1px solid #2B3A55;
    width: 7rem;
    margin: 0 auto 0 auto;
}
.viewMoreBtn{
    text-decoration: none;
    background-color: #2B3A55;
    color: #ffffff;
    padding: .5rem .6rem;
    border-radius: 8px;
    
}
/* ----------- */
.chef-text{
    width: 90%;
    display: flex;
    flex-direction: row;
    height: 30rem;
    margin: auto;
}
.chef-content{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-text{
    background-color: #F2E5E5;
    border-radius: 20px;
    text-align: center;
    padding: 1.5rem;
    height: 15rem;
    box-shadow: 0px 0px 8px 0px rgba(153, 152, 152, 0.75);
}
.chef-img-container{
    width: 50%;
}
.chef-img{
    width: 25rem;
    height: 30rem;
    margin: auto;
    display: block;
}
/* ---footer--- */
footer{
	bottom: 0;
	left: 0;
	height: fit-content;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #2B3A55;
	color: #ffffff;
}
.footer-container{
	height: fit-content;
	width: 100%;
	padding: 3rem 6rem;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.footer-logo{
	width: calc(1vw + 180px);
}
.footer-content-container{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
}
.footer-menu{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 50%;
}
.menu-item-footer{
	margin: 0 .5rem .5rem 0;
	color: #ffffff;
	opacity: 0.8;
	text-decoration: none;
}
.menu-item-footer:hover{
	opacity: 1;
	color: #ffffff;
}
.social-icons-container{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	height: 1.875rem;
	width: fit-content;
	margin-right: 1rem;
}
.social-icons{
	display: flex;

}
.social-link{
	font-size: 1.3rem;
	opacity: 0.8;
	color: #ffffff;
}
.social-link:nth-of-type(2){
	margin: 0 .5rem 0 .5rem;
}
.social-link:hover{
	opacity: 1;
	color: #ffffff;
}
.copyright-container{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(82, 88, 108);
}
.copyright{
	font-size: 0.75rem;
	padding: 0.625rem 0;
}
