<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../assets/img/icons/restaurant.ico" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/css/countries.css">
    <title>🇫🇷 Croissant | Recefast</title>
</head>
<body>
    <nav class="navbar">
        <div class="navSide1">
            <img class="logoNav" src="../assets/img/logos/Logo_1-03.png" alt="">
            <a class="navLinks" href="">Inicio</a>
            <a class="navLinks" href="">About Us</a>
            <a class="navLinks" href="">Paises</a>
        </div>
        <div class="navSide2">
            <form class="searchbox" action="">
                <button class="searchBtn"><img src="../assets/img/icons/search-regular-24.png" alt=""></button>
                <input class="searchInput" type="search" name="" id="" placeholder="Buscar...">
            </form>
        </div>
    </nav>

    <header class="rcp-prev">
        <div class="prev-container">
            <div class="prev-content">
                <h1>Croissant</h1>
                <ul class="prev-prepInfo">
                    <li class="prev-prepInfo-time">
                        <div class="prev-prepInfo-label">TIEMPO:</div>
                        <div class="prev-prepInfo-icon">
                            <img src="../assets/img/icons/clock.svg">
                        </div>
                        <div class="prev-prepInfo-value">1:15 h</div>
                    </li>
                    <li class="prev-prepInfo-yield">
                        <div class="prev-prepInfo-label">PORCIONES:</div>
                        <div class="prev-prepInfo-icon">
                            <img src="../assets/img/icons/pie-chart.svg">
                        </div>
                        <div class="prev-prepInfo-value">10</div>
                    </li>
                    <li class="prev-prepInfo-diff">
                        <div class="prev-prepInfo-label">DIFICULTAD:</div>
                        <div class="prev-prepInfo-icon">
                            <img src="../assets/img/icons/chef-hat-easy.svg">
                        </div>
                        <div class="prev-prepInfo-value">BAJA</div>
                    </li>
                </ul>
                <ul class="prev-typeInfo">
                    <li class="prev-typeInfo-category">
                        <p class="prev-typeInfo-label">TIPO:</p>
                        <p class="prev-typeInfo-value">POSTRES</p>
                    </li>
                </ul>
            </div>
            <div class="prev-img">
            </div>
        </div>
    </header>

    <div class="desc-twoColumns">
        <aside>
            <p>Publicidad</p>
            <img src="../assets/img/advertisements/cocke.jpg" alt="">
            <img src="../assets/img/advertisements/coke.webp" alt="">
        </aside>

        <main class="desc-main">
            <section class="desc-intro">
                <p>Resistirse a un buen croissant es bastante difícil, y más si son tan fáciles de hacer como estos croissants caseros que sorprenderán a todos en casa y que, contrario a lo que puedas pensar, son más fáciles de hacer de lo que parece.</p>
            </section>
            <section class="desc-ingre">
                <h2>INGREDIENTES</h2>
                <ul class="ingre-list">
                    <li>400g de harina de fuerza</li>
                    <li>100 de harina floja</li>
                    <li>100g de azúcar</li>
                    <li>2 huevos</li>
                    <li>25g de levadura fresca de panadería</li>
                    <li>150g de leche</li>
                    <li>100g de mantequilla en pomada</li>
                    <li>200g de mantequilla para hojaldrar</li>
                    <li>1 yema de huevo para pintar</li>
                </ul>
            </section>
            <section class="desc-prep">
                <h2>PREPARACIÓN</h2>
                <ol class="prep-steps">
                    <li>En la leche tibia diluimos la levadura y en la amasadora introducimos todos lo ingredientes menos la mantequilla y amasamos durante 10 o 12 minutos.</li>
                    <li>Luego añadimos la mantequilla en pomada en dados y amasar otro par de minutos. Dejamos fermentar en bloque la mezcla en lugar cálido una hora u hora y media aproximadamente hasta que doble su volumen.</li>
                    <li>Pasado ese tiempo preparamos la mantequilla para hojaldrar dejándola en forma de placa cuadrada de un centímetro de grosor, es importante que esa mantequilla esté fría.</li>
                    <li>Heñimos la masa con los puños, haciendo un hueco que permita introducir la mantequilla y le damos cuatro o cinco vueltas simples dejándola reposar en frío entre vuelta y vuelta unos 20 min en frío.</li>
                    <li>Tras los volteos, estiramos la masa a tres milímetros de grosor con un rodillo pero sin hacer demasiada presión y cortamos triángulos isósceles de unos veinte centímetros de largo.</li>
                    <li>Formamos los croissants enrollándolos desde la base y los dejamos fermentar en placa de horno una hora más. Pasado ese tiempo los pintamos con la yema y la leche y los horneamos entre 12 y 14 minutos a 200 ºC.</li>
                </ol>
            </section>
            <section class="desc-extra">
                <div class="aditional-info">
                    <h2>Con qué acompañar el Croissant</h2>
                    <p>Poca compañía más necesita un croasán que un buen café con leche o que un vaso de leche, aunque también podéis preparar un batido o, si queréis hacerlos aún más potentes, mezclarlos con algo de chocolate o de nutella.</p>
                </div>
                <div class="tutorial">
                    <h2>¿Necesitas más ayuda?</h2>
                    <p>¡Sigue los pasos del chef!</p>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/iFjSv5oRKUo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </section>
        </main>
    </div>

    <footer>
        <div class="footer-container">
            <div class="footer-content-container">
                <img src="../assets/img/logos/Logo_3_B-W-04-03.png" alt="" class="footer-logo">
            </div>
            <div class="footer-menu">
                <div class="footer-content-container">
                    <a href="#" class="menu-item-footer">Inicio</a>
                    <a href="#" class="menu-item-footer">About Us</a>
                </div>
                <div class="social-icons-container">
                    <div class="social-icons">
                        <a href="#" class="social-link"><img src="../assets/img/icons/fb_icon.png" alt="" width="30px"></a>
                        <a href="#" class="social-link"><img src="../assets/img/icons/ig_icon.png" alt="" width="30px"></a>
                    </div> 
                </div>      
            </div>
        </div>
        <div class="copyright-container">
            <span class="copyright">Todos los derechos reservados. &copy; 2023 Recefast | By Javier Mejía & Daniel Vásquez</span>
        </div>
    </footer>
</body>
</html>