<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/img/icons/restaurant.ico" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/css/countries.css">
    <title>Nombre receta | Recefast</title>
</head>
<body>
    <nav class="navbar">
        <div class="navSide1">
            <img class="logoNav" src="../assets/img/logos/Logo_1-03.png" alt="">
            <a class="navLinks" href="">Inicio</a>
            <a class="navLinks" href="">About Us</a>
            <a class="navLinks" href="">Paises</a>
        </div>
        <div class="navSide2">
            <form class="searchbox" action="">
                <button class="searchBtn"><img src="../assets/img/icons/search-regular-24.png" alt=""></button>
                <input class="searchInput" type="search" name="" id="" placeholder="Buscar...">
            </form>
        </div>
    </nav>

    <header>
        <div class="hero-food-container">
            <div class="hero-food-img">
                <img src="../assets/img/countries/template_country/template_recipes/template_hero_food.png" alt="Nombre del platillo">
            </div>
            <section class="hero-food-text">
                <article>
                    <h2>Comida rica</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus quo facere nemo facilis.</p>
                </article>
            </section>
        </div>
    </header>

    <main class="main-container">
        <aside>
            <p>Publicidad</p>
            <img src="../assets/img/advertisements/cocke.jpg" alt="">
            <img src="../assets/img/advertisements/coke.webp" alt="">
        </aside>
        <section class="rcp-info">
            <article class="rcp-ingred">
                <h2>Ingredientes</h2>
                <p>Para n personas</p>
                <table class="rcp-table">
                    <tr>
                        <td>- Primer ingrediente</td>
                        <td>n</td>
                    </tr>
                    <tr>
                        <td>- Segundo ingrediente</td>
                        <td>n cucharadas</td>
                    </tr>
                    <tr>
                        <td>- Tercer ingrediente</td>
                        <td>n gramos</td>
                    </tr>
                    <tr>
                        <td>- Cuarto ingrediente</td>
                        <td>n</td>
                    </tr>
                </table>
            </article>
            <article class="rcp-steps">
                <h2>Preparación</h2>
                <p>Tiempo estimado: n minutos</p>
                <ol class="list">
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse porttitor aliquet feugiat. In dignissim odio hendrerit justo ornare sagittis. Curabitur rhoncus sagittis vehicula. Morbi maximus enim quam, nec blandit lorem venenatis nec. In lacus velit, tristique sed nulla ut, facilisis placerat elit.</li>
                    <li>Vivamus nec lectus faucibus, cursus dui vel, laoreet nisi. Donec faucibus mi odio, ut vehicula enim egestas vel. Curabitur vitae neque ac nisi pharetra vulputate at a massa. Vivamus scelerisque augue nisl, vitae pulvinar ipsum aliquet sit amet. Praesent vel massa et tellus lobortis sodales vitae in ex.</li>
                    <li>Duis a tellus sit amet quam sagittis pharetra a malesuada augue. Aliquam feugiat libero eget tempus rutrum. Ut et auctor urna. Maecenas mollis, lectus porttitor dignissim finibus, purus diam molestie turpis, nec sollicitudin mi lorem nec nisl.</li>
                    <li>Sed tempor elit sit amet sem viverra, ut dictum orci semper. Phasellus turpis dolor, auctor eu quam a, iaculis placerat nisl. Aenean facilisis id quam sed tempus. Praesent pharetra diam a nisi auctor faucibus.</li>
                    <li>Praesent quis massa luctus lacus aliquet vulputate quis sed eros. Suspendisse blandit in tellus nec iaculis. Integer ex nunc, vehicula ut bibendum eu, convallis quis dui. Pellentesque convallis auctor dictum. Nullam vel finibus sem. Nunc accumsan eros a lectus rutrum fermentum.</li>
                </ol>
            </article>
            <article class="rcp-end">
                <div class="rcp-result">
                    <div class="rcp-r-title">
                        <h2>Y finalmente....</h2>
                    </div>
                    <div class="rcp-r-img">
                        <img src="../assets/img/countries/template_country/template_recipes/template_cooked_recipe.webp" alt="Resultado final">
                    </div>
                </div>
            </article>
            <article class="rcp-tutorial">
                <h2>¡Sigue las órdenes del chef!</h2>
                <p>Si te perdiste en algún paso, apóyate de este vídeo</p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/UBa31aKmmDc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </article>
        </section>
    </main>

    <footer>
        <div class="footer-container">
            <div class="footer-content-container">
                <img src="../assets/img/logos/Logo_3_B-W-04-03.png" alt="" class="footer-logo">
            </div>
            <div class="footer-menu">
                <div class="footer-content-container">
                    <a href="#" class="menu-item-footer">Inicio</a>
                    <a href="#" class="menu-item-footer">About Us</a>
                    <a href="#" class="menu-item-footer">Paises?</a>
                </div>
                <div class="social-icons-container">
                    <div class="social-icons">
                        <a href="#" class="social-link"><img src="../assets/img/icons/fb_icon.png" alt="" width="30px"></a>
                        <a href="#" class="social-link"><img src="../assets/img/icons/ig_icon.png" alt="" width="30px"></a>
                    </div> 
                </div>      
            </div>
        </div>
        <div class="copyright-container">
            <span class="copyright">Todos los derechos reservados. &copy; 2023 Recefast | By Javier Mejía & Daniel Vásquez</span>
        </div>
    </footer>
</body>
</html>